@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {  
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
h1 {
    color:rgb(0, 0, 0)
}
p {
    font-size: 25px;
}
li {
    margin-left: 0;
    margin-right: 10%;
    margin-top: .6em;
    margin-bottom: .6em;
    }
#photograph {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    display: block;  
}
.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  .flex-left {
      padding-top: 250px;
      padding-left: 45px;
      padding-bottom: 50px;
      padding-right: 25px;
      width: 25%;
      height: auto;
      background-color: rgb(228, 221, 196);
      flex-direction: row;
  }
  .flex-right {
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 45px;
    padding-bottom: 30px;
    width: 75%;
    height: auto;
    background-color: rgb(228, 221, 196);
    flex-direction: row;
}

.container {
    text-align: center;
}
.fixed-footer {
    width: 100%;
    position: fixed;
    background: rgb(95, 147, 123);
    padding: 5px 0;
    color: rgb(247, 244, 244);
}
.fixed-header {
    top: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    background: rgb(95, 147, 123);
    color: rgb(247, 244, 244);
    padding-top: 20px;
    font-size: 18px;
}
.fixed-footer {
    bottom: 0;
}
