@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {  
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background: rgb(255,176,176);
    background: radial-gradient(circle, rgba(255,176,176,1) 0%, rgba(194,188,251,1) 100%);
}
h1 {
    color:rgb(0, 0, 0)
}
p {
    font-size: 25px;
}
a {
    padding-left: 20px;
    padding-right: 20px;
}
#photograph {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    display: block;  
}
.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    padding-top: 150px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .flex-left {
    background-color: rgb(174, 201, 188);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .flex-right {
    background-color: rgb(174, 201, 188);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    text-align: center;
}
.fixed-footer {
    width: 100%;
    position: fixed;
    background: rgb(174, 201, 188);
    padding: 5px 0;
    color: rgb(0, 0, 0);
}
.fixed-header {
    top: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    background: rgb(174, 201, 188);
    color: rgb(0, 0, 0);
    padding-top: 20px;
    font-size: 18px;
}
.fixed-footer {
    bottom: 0;
}
